* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: url('../images//background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

button {
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:16px;
	border:5px solid #057fd0;
	cursor:pointer;
	color:#ffffff;
    padding: 10px;
	text-decoration: none;
    text-shadow:0px 1px 5px #5b6178;
    margin: 5px;
    font-size: 28px;
}

button:hover:enabled {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}

button:disabled {
    cursor: not-allowed;
}

.bgPanel {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 76%;
    height: 32%;

    background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:7px;
	border:2px solid #124d77;
    color: #FFFFFF;
    padding: 5px;
}

#startDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}

#startSubtitle {
    text-align: center;
}

#questionPanel {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#timerBarContainer {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: center;
    justify-self: flex-end;
    margin-bottom: 6px;
}

#timerBar {
    width: 0%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
}

#qInfoPanel {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
#qInfoP {
    text-align: right;
    text-transform: capitalize;
}

#qQuestionPanel {
    font-size: 32px;
    text-align: center;
}

#qAnswerPanel {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 40%;
}

.answerBtn {
    flex-grow: 1;
    width: 20%;
    white-space: normal;
    word-wrap: break-word;
    height: 100%;
}

#categoryWheel {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flapper {
    position: absolute;
    top: 41%;
    right: -8%;
    transform-origin: 73% 50%;
}